sudo: required

services:
  - docker

language: python

python:
  - 2.7
  - 3.6

cache: pip

install:
  - ./bin/install

script:
  - ./bin/test

deploy:
  provider: script
  skip_cleanup: true
  script: chmod +x docker-deploy.sh && sh $TRAVIS_BUILD_DIR/docker-deploy.sh
  on:
    tags: true
    repo: randsleadershipslack/destalinator
